openapi: 3.0.3
info:
  title: API - Sistema de Bilhetagem
  version: 1.0.0
  description: API REST para gestão de reservas, compras de ingressos e produtos
  contact:
    name: PH Raulino
    email: phraulino@email.com
    url: https://github.com/phraulino


servers:
  - url: https://api.bilhetagem.dev
    description: Ambiente de Produção
  - url: http://localhost:8080
    description: Ambiente de Desenvolvimento

tags:
  - name: Produtos
    description: Endpoints relacionados a produtos e combos
  - name: Usuário
    description: Endpoints para informações e histórico do usuário
  - name: Pagamento
    description: Processamento de pagamento e confirmação de pedidos
  - name: Pedidos
    description: Criação, detalhamento e modificação de pedidos
  - name: Reservas
    description: Reserva de assentos temporários
  - name: Sessoes
    description: Consulta de sessões e assentos
  - name: Ingressos
    description: Consulta de sessões e assentos
  - name: Filmes
    description: Consulta de catálogo de filmes em exibição

paths:
  /ingressos:
    get:
      summary: Lista os filmes
      description: Retorna os valores dos ingressos
      operationId: ConsultaValorIngresso
      tags: [Ingressos]
      responses:
        '200':
          description: Valor Ingresso
  /filmes:
    get:
      summary: Lista os filmes
      description: Retorna a lista de filmes em exibição nos cinemas
      operationId: listarFilmes
      tags: [Filmes]
      responses:
        '200':
          description: Lista de filmes
  /produtos:
    get:
      summary: Lista os produtos
      description: Retorna uma lista com todos os produtos disponíveis para compra
      operationId: listarProdutos
      tags: [Produtos]
      responses:
        '200':
          description: Lista de produtos

  /produtos/{produto_id}:
    get:
      summary: Detalhes do produto
      description: Retorna os detalhes de um produto específico
      operationId: detalhesProduto
      tags: [Produtos]
      parameters:
        - name: produto_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detalhes do produto

  /combos:
    get:
      summary: Lista os combos
      description: Retorna todos os combos promocionais disponíveis
      operationId: listarCombos
      tags: [Produtos]
      responses:
        '200':
          description: Lista de combos

  /combos/{combo_id}:
    get:
      summary: Detalhes do combo
      description: Retorna os detalhes de um combo específico
      operationId: detalhesCombo
      tags: [Produtos]
      parameters:
        - name: combo_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detalhes do combo

  /usuario/{usuario_id}:
    get:
      summary: Lista informações do usuário
      description: Retorna os dados cadastrais do usuário
      operationId: obterUsuario
      tags: [Usuário]
      parameters:
        - name: usuario_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados do usuário

  /usuario/{usuario_id}/pedidos:
    get:
      summary: Lista os pedidos do usuário
      description: Retorna os pedidos associados ao usuário, podendo ser filtrados por status
      operationId: listarPedidosUsuario
      tags: [Usuário]
      parameters:
        - name: usuario_id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pendente, concluido]
      responses:
        '200':
          description: Lista de pedidos

  /usuario/{usuario_id}/ingressos:
    get:
      summary: Lista os ingressos do usuário
      description: Retorna os ingressos do usuário, podendo ser filtrados por status de uso
      operationId: listarIngressosUsuario
      tags: [Usuário]
      parameters:
        - name: usuario_id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [utilizados, disponiveis]
      responses:
        '200':
          description: Lista de ingressos

  /pagamento:
    post:
      summary: Cria o pedido e adiciona a reserva
      description: Realiza o pagamento e registra a finalização de um pedido previamente criado
      operationId: realizarPagamento
      tags: [Pagamento]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Pedido criado

  /pedidos:
    post:
      summary: Cria o pedido e adiciona a reserva
      description: Inicia um novo pedido com base nas reservas realizadas
      operationId: criarPedido
      tags: [Pedidos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Pedido criado

  /pedidos/{pedido_id}:
    get:
      summary: Detalhes do pedido
      description: Retorna as informações completas de um pedido específico
      operationId: detalhesPedido
      tags: [Pedidos]
      parameters:
        - name: pedido_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados do pedido

  /pedidos/{pedido_id}/efetivar:
    post:
      summary: Pagamento autorizado, registrar pedido
      description: Finaliza o pedido após autorização de pagamento
      operationId: efetivarPedido
      tags: [Pedidos]
      parameters:
        - name: pedido_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pedido efetivado

  /pedidos/{pedido_id}/itens:
    post:
      summary: Adicionar itens ao pedido
      description: Adiciona produtos, combos ou ingressos a um pedido existente
      operationId: adicionarItensPedido
      tags: [Pedidos]
      parameters:
        - name: pedido_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Itens adicionados

  /reserva:
    post:
      summary: Cria uma nova reserva
      description: Registra uma nova reserva temporária de assento com TTL
      operationId: criarReserva
      tags: [Reservas]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Reserva criada

  /reservas/{reserva_id}:
    get:
      summary: Detalhes da reserva
      description: Retorna os dados de uma reserva específica
      operationId: detalhesReserva
      tags: [Reservas]
      parameters:
        - name: reserva_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados da reserva

  /sessoes:
    get:
      summary: Lista todas as sessões por cinema e dia
      description: Retorna a programação de sessões por cinema e/ou data
      operationId: listarSessoes
      tags: [Sessoes]
      parameters:
        - name: cinema
          in: query
          schema:
            type: string
        - name: dia
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de sessões

  /sessoes/{sessao_id}/assentos:
    get:
      summary: Lista os assentos da sessão com status
      description: Retorna todos os assentos da sessão com seus respectivos status (ocupado, reservado, disponível)
      operationId: listarAssentosSessao
      tags: [Sessoes]
      parameters:
        - name: sessao_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lista de assentos
